*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

input,
button,
textarea,
select {
    font: inherit !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Be Vietnam Pro', sans-serif !important;
    line-height: 1.5 !important;
    -webkit-font-smoothing: antialiased !important;
}

#tree {
    width: 100%;
    height: 100%;
}

/* Male nodes */
svg.linh .node.male > rect {
    fill: #039be5;
}

/* Female nodes */
svg.linh .node.female > rect {
    fill: #ff46a3;
}

/* Specific node by ID */
/* svg.linh [data-n-id='1'].node.male > rect {
    fill: gray;
} */

/* Nodes with a 'green' tag */
svg.linh .node.green.female > rect {
    fill: #00d3a5; /* Custom color for female nodes with a 'green' tag */
}

/* Custom field styles */
.field_0 {
    font-size: 16px;
    font-weight: 600;
    fill: #fff; /* Custom color for the first field */
}

.field_1 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    fill: #fff; /* Custom color for the first field */
}

g[data-ctrl-n-c-menu-id] > circle {
    stroke-width: 2;
}

g[data-ctrl-n-c-menu-name] > circle {
    stroke-width: 0;
}

/* Overall edit form styling */
.bft-edit-form {
    position: relative;
}

.bft-edit-form .bft-edit-form-avatar {
    top: 50px;
    border: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.25);
}

#bft-avatar img {
    border: 8px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
    object-fit: cover; /* This prevents distortion */
}

#bft-avatar img:hover {
    transform: scale(1.1);
}
.bft-edit-form {
    font-family: 'Be Vietnam Pro', sans-serif !important;
}

/* Header section */
.bft-edit-form .bft-edit-form-header {
    background: url('../imgs/cover.webp') center/cover no-repeat;
    height: 100px;
    border-radius: 0px;
}

.bft-edit-form .bft-edit-form-title {
    display: none;

    position: absolute;
    top: 205px;
    left: 50%; /* Set the left edge of the title to the center of the parent */
    transform: translateX(-50%); /* Shift the title to the left by half its own width */
    width: max-content; /* This ensures that the width of the title is only as wide as its content */
    text-align: center; /* Ensure the text within the title is centered */
    color: black;
    /* z-index: 1000; */
}

.bft-edit-form .bft-edit-form-instruments {
    min-height: initial;
    margin: 50px 0 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bft-edit-form-instruments .bft-img-button {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: repeat;
    background-size: auto;
    background-position: initial;
    margin: 0;
    display: inline;
}

.bft-edit-form-fields {
    overflow-y: scroll !important;
    font-size: 16px !important;
}

.bft-edit-form-fields::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* Input fields */
/* Labels */
.bft-edit-form .bft-input label {
    color: #039be5;
    font-weight: 600;
}
